# source
src
**/*.spec.*
test
test-cases
scripts
README_zh-CN.md
CHANGELOG.md
LICENSE
benchmark

# build dist
build/docs
coverage
.nyc_output
*.log
/config/
/docs/

# manager
package-lock.json
yarn.lock
pnpm-lock.yaml

# config
.gitattributes
publish.bat
.github
.vscode
.husky
.circleci
tsconfig.*
jest.config.*
.travis.yml
.gitlab-ci.yml
.editorconfig
.eslintrc.js
.eslintrc.json
.prettierignore
.prettierrc
.grs.config.js
.flh.config.js
